/* ************************ */
/* MEYER RESET DEFAULT 2019 */
/* ************************ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

button,
input,
select,
textarea {
  border: none;
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ***** */
/* FONTS */
/* ***** */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../font/open-sans-300.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/open-sans-400.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/open-sans-600.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../font/open-sans-800.woff2") format("woff2"); }

/* FONT AWESOME 5.12.0 */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../font/fa-brands-400.woff2") format("woff2"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../font/fa-regular-400.woff2") format("woff2"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../font/fa-solid-900.woff2") format("woff2"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-bars:before {
  content: "\f0c9"; }

.fa-search:before {
  content: "\f002"; }

.fa-grip-grid:before {
  content: "\f00a"; }

.fa-grip-no-grid:before {
  content: "\f00b"; }

/* *********** */
/* GRID-SYSTEM */
/* *********** */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 320px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1440px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.p-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

[class^='col-'] {
  padding: 1rem 0;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

@media (min-width: 320px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; }
  .offset-sm-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; }
  .offset-md-12 {
    margin-left: 100%; } }

@media (min-width: 1024px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; }
  .offset-lg-12 {
    margin-left: 100%; } }

@media (min-width: 1440px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; }
  .offset-xl-12 {
    margin-left: 100%; } }

/* ******* */
/* GENERAL */
/* ******* */
:root {
  font-size: 16px !important; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif; }

/* ****** */
/* HEADER */
/* ****** */
@media (min-width: 1024px) {
  .header-topbar > .container-fluid,
  .header-midbar > .container-fluid,
  .header-bottombar > .container-fluid {
    max-width: 71.25rem; } }

.header-topbar {
  background-color: #000; }

.header-midbar {
  background-color: #fff; }

.header-bottombar {
  background-color: #cb0d1f; }

.topbar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0; }
  @media (max-width: 768px) {
    .topbar {
      justify-content: center; } }
  .topbar__option {
    color: #fff;
    font-size: 0.875rem; }
    @media (max-width: 320px) {
      .topbar__option {
        font-size: 0.75rem;
        text-align: center; } }
  .topbar__access {
    color: #fff;
    font-weight: 800;
    transition: color .25s ease; }
    .topbar__access:hover {
      color: #ccc;
      color: rgba(255, 255, 255, 0.5); }

.midbar-logo {
  display: block;
  width: 100%; }
  @media (max-width: 768px) {
    .midbar-logo {
      text-align: center; } }
  .midbar-logo__img {
    transition: opacity .25s ease; }
    .midbar-logo__img:hover {
      opacity: .65; }
    @media (max-width: 768px) {
      .midbar-logo__img {
        padding: 0.3125rem 0; } }
    @media (max-width: 320px) {
      .midbar-logo__img {
        margin-top: 0.5rem;
        width: 6.875rem; } }

.midbar-search {
  align-items: center;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .midbar-search {
      display: none;
      justify-content: center;
      padding-top: 0; } }
  .midbar-search__label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625rem;
    margin: -rem(1);
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625rem; }
  .midbar-search__input {
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.75);
    font-family: "Open Sans", sans-serif;
    height: 2.5rem;
    padding: 0.625rem;
    width: 25rem; }
    @media (max-width: 768px) {
      .midbar-search__input {
        width: 12.5rem; } }
    @media (max-width: 320px) {
      .midbar-search__input {
        width: 8.75rem; } }
  .midbar-search__button {
    align-items: center;
    background-color: #cb0d1f;
    color: #fff;
    display: flex;
    font-size: 0.875rem;
    font-weight: 800;
    height: 2.5rem;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .25s ease;
    width: 5rem; }
    .midbar-search__button:hover {
      background-color: #a80716; }
    @media (max-width: 320px) {
      .midbar-search__button {
        width: 9.375rem; } }
  .midbar-search--open {
    display: flex; }

.midbar-mobile {
  display: none; }
  @media (max-width: 768px) {
    .midbar-mobile {
      display: flex;
      justify-content: center; } }
  .midbar-mobile-menu, .midbar-mobile-search {
    align-items: center;
    background-color: transparent;
    color: #000;
    display: none;
    font-size: 1.125rem;
    font-weight: 500;
    height: 3.4375rem;
    justify-content: center;
    text-decoration: none;
    width: 3.4375rem; }
    @media (max-width: 768px) {
      .midbar-mobile-menu, .midbar-mobile-search {
        display: flex; } }
    @media (max-width: 320px) {
      .midbar-mobile-menu, .midbar-mobile-search {
        width: max-content; } }
  .midbar-mobile-search {
    color: #cb0d1f; }

.bottombar-nav {
  margin-left: -1.875rem; }
  @media (max-width: 768px) {
    .bottombar-nav {
      background-color: #cb0d1f;
      border-radius: 0.3125rem;
      box-shadow: 0.125rem 0.125rem 0.1875rem black;
      display: none;
      left: 0;
      margin-left: 0rem;
      padding: 1.875rem 0 1.25rem 0;
      position: absolute;
      top: 7.5rem;
      transition: opacity .5s ease;
      width: 12.5rem;
      z-index: 4; } }
  .bottombar-nav__close {
    background-color: #912933;
    border-radius: 0.3125rem;
    color: #fff;
    display: none;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0.3125rem;
    padding: 0.1875rem 0.5rem 0.375rem 0.5rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: max-content; }
  .bottombar-nav--open {
    display: block; }

.bottombar-menu {
  list-style: none; }
  .bottombar-menu__item {
    display: inline-block; }
    @media (max-width: 768px) {
      .bottombar-menu__item {
        display: block; } }
  .bottombar-menu__link {
    color: #fff;
    display: block;
    font-size: 0.9375rem;
    font-weight: 800;
    padding: 0.9375rem 1.875rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .25s ease; }
    @media (max-width: 768px) {
      .bottombar-menu__link {
        font-size: 0.875rem;
        padding: 0.9375rem; } }
    .bottombar-menu__link:hover {
      color: #76000b; }

/* **** */
/* MAIN */
/* **** */
@media (min-width: 1024px) {
  .main > .container-fluid {
    max-width: 71.25rem; } }

.main-sidenav {
  background-color: #ccc;
  height: 31.25rem; }
  @media (max-width: 768px) {
    .main-sidenav {
      display: none; } }
  .main-sidenav-menu {
    padding-top: 0.625rem; }
    .main-sidenav-menu__link {
      color: #000;
      display: block;
      padding: 0.75rem 1.25rem;
      text-decoration: none;
      text-transform: capitalize;
      transition: color .25s ease; }
      .main-sidenav-menu__link:hover {
        color: #555;
        color: rgba(0, 0, 0, 0.35); }

.main-banner {
  background-color: #aaa;
  height: 18.75rem;
  width: 100%; }
  @media (max-width: 320px) {
    .main-banner {
      height: 5rem; } }
  @media (max-width: 768px) {
    .main-banner {
      margin-top: -3.75rem; } }

.main-welcome__title {
  font-size: 1.5rem;
  padding: 0.9375rem 0; }
  @media (max-width: 320px) {
    .main-welcome__title {
      text-align: center; } }

.main-welcome__lorem {
  font-size: 1rem;
  line-height: 1.25rem; }
  @media (max-width: 768px) {
    .main-welcome__lorem {
      text-align: justify; } }

.main-state {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 12.5rem;
  justify-content: center; }
  .main-state__message {
    color: #000;
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
    opacity: .75; }
  .main-state__button {
    background-color: #cb0d1f;
    border-radius: 0.3125rem;
    box-shadow: 0.0625rem 0.0625rem 0.3125rem #000;
    color: #fff;
    font-size: 1.125rem;
    padding: 0.9375rem 1.875rem;
    text-decoration: none;
    transition: box-shadow .25s ease; }
    .main-state__button:hover {
      box-shadow: none; }

/* ******* */
/* PRODUCT */
/* ******* */
.product__title {
  color: #cb0d1f;
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
  text-transform: capitalize; }

.product__img {
  border: 0.0625rem solid #ccc;
  padding: 0.3125rem;
  transition: all .25s ease-in-out;
  width: 100%; }

.product__name {
  color: #777;
  font-size: 1rem;
  height: 2.5rem;
  margin-top: 0.625rem;
  text-align: center; }
  @media (max-width: 768px) {
    .product__name {
      font-size: 0.875rem; } }
  @media (max-width: 320px) {
    .product__name {
      font-size: 0.75rem; } }

.product__price {
  color: #cb0d1f;
  display: block;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center; }
  @media (max-width: 768px) {
    .product__price {
      font-size: 1.125rem; } }
  @media (max-width: 320px) {
    .product__price {
      font-size: 1rem; } }

.product__btn-buy {
  background-color: #76c0c0;
  border-radius: 0.3125rem;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem black;
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0.9375rem auto 0.625rem auto;
  padding: 0.625rem 0;
  text-transform: uppercase;
  transition: all .25s ease;
  width: 100%; }
  .product__btn-buy:hover {
    background-color: #43c4c4;
    box-shadow: none; }
  @media (max-width: 768px) {
    .product__btn-buy {
      font-size: 0.875rem; } }
  @media (max-width: 320px) {
    .product__btn-buy {
      font-size: 0.75rem; } }

.product__btn-more {
  background-color: #43c4c4;
  border-radius: 0.3125rem;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem black;
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  margin: 0 auto;
  margin: 1.25rem auto;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  transition: all .25s ease; }
  .product__btn-more:hover {
    background-color: #76c0c0;
    box-shadow: none; }

.product-breadcrumb-menu {
  list-style: none;
  margin: 1.25rem 0 0.3125rem 0; }
  @media (max-width: 768px) {
    .product-breadcrumb-menu {
      margin: 0; } }
  .product-breadcrumb-menu__item {
    display: inline-block; }
  .product-breadcrumb-menu__link {
    color: #000;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
    transition: color .25s ease; }
    .product-breadcrumb-menu__link--product {
      color: #cb0d1f; }
      .product-breadcrumb-menu__link--product:hover {
        color: #ff0018 !important; }
    .product-breadcrumb-menu__link:hover {
      color: #cb0d1f; }
  .product-breadcrumb-menu__span {
    color: #ccc;
    font-size: 0.75rem; }

.product-midbar {
  border-bottom: 0.125rem solid #ddd;
  border-top: 0.125rem solid #ddd; }
  .product-midbar__btn-grid {
    background-color: transparent;
    color: #777;
    font-size: 1.375rem; }
    .product-midbar__btn-grid--active {
      color: #76c0c0; }
  .product-midbar__btn-grid-icon {
    transition: color .25s ease; }
    .product-midbar__btn-grid-icon:hover {
      color: #76c0c0; }
  .product-midbar-order {
    align-items: center;
    display: flex;
    justify-content: flex-end; }
    .product-midbar-order__label {
      color: #aaa;
      font-size: 0.625rem;
      font-weight: 800;
      margin-right: 0.625rem;
      text-transform: uppercase; }
    .product-midbar-order__select {
      background-color: #fff;
      border-radius: 0.3125rem;
      border: 0.0625rem solid #ccc;
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      width: 10rem; }
      @media (max-width: 320px) {
        .product-midbar-order__select {
          width: 6.25rem; } }

.product-filter {
  border: 0.0625rem solid #ddd;
  padding: 1rem; }
  .product-filter__title, .product-filter__subtitle {
    text-transform: uppercase; }
  .product-filter__title {
    color: #cb0d1f;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem; }
  .product-filter__subtitle {
    color: #629e9e;
    font-weight: 600;
    margin: 1.25rem 0 0.625rem 0;
    text-transform: uppercase; }
  .product-filter-list {
    list-style: inside; }
    .product-filter-list__item--color {
      display: inline; }
    .product-filter-list__item, .product-filter-list__link {
      color: #777;
      font-size: 0.875rem; }
    .product-filter-list__link {
      display: inline-block;
      padding: 0.3125rem 0;
      text-decoration: none;
      text-transform: capitalize;
      transition: color .25s ease; }
      .product-filter-list__link:hover {
        color: #629e9e; }
    .product-filter-list__color {
      display: inline-block;
      height: 1.25rem;
      margin: 0 0.125rem;
      width: 2.5rem; }
      .product-filter-list__color--red {
        background-color: #cb0d1f;
        transition: opacity .25s ease; }
        .product-filter-list__color--red:hover {
          opacity: .75; }
      .product-filter-list__color--orange {
        background-color: #dc6520;
        transition: opacity .25s ease; }
        .product-filter-list__color--orange:hover {
          opacity: .75; }
      .product-filter-list__color--green {
        background-color: #629e9e;
        transition: opacity .25s ease; }
        .product-filter-list__color--green:hover {
          opacity: .75; }
    .product-filter-list--colors {
      list-style-type: none; }

/* ****** */
/* FOOTER */
/* ****** */
.footer {
  margin-bottom: 1.25rem; }
  @media (min-width: 1024px) {
    .footer > .container-fluid {
      max-width: 71.25rem; } }
  .footer-bar {
    background-color: #cb0d1f;
    height: 9.375rem;
    width: 100%; }
