// ROOT SIZE
$rootFSize: 16;

// PRIMARY COLORS
$pColor: #cb0d1f;
$sColor: #fff;
$tColor: #000;

// FONT
$pFont: 'Open Sans', sans-serif;

// PX TO REM
@function rem($pixel, $rootFSize: $rootFSize) {
	@return ($pixel / $rootFSize) + rem;
}