/* *********** */
/* GRID-SYSTEM */
/* *********** */

// BASE
$cols: 12;
$gutter: 15px;

// WEBJUMP BREAKPOINTS MEDIA QUERIES
$sm-device: 320px;
$md-device: 768px;
$lg-device: 1024px;
$xl-device: 1440px;

// BOX-SIZING
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// MEDIA
@mixin minDevice($type) {
  @if $type == sm {
    @media (min-width: #{$sm-device}) {
      @content;
    }
  }
  @else if $type == md {
    @media (min-width: #{$md-device}) {
      @content;
    }
  }
  @else if $type == lg {
    @media (min-width: #{$lg-device}) {
      @content;
    }
  }
  @else if $type == xl {
    @media (min-width: #{$xl-device}) {
      @content;
    }
  }
}
@mixin maxDevice($type) {
  @if $type == sm {
    @media (max-width: #{$sm-device}) {
      @content;
    }
  }
  @else if $type == md {
    @media (max-width: #{$md-device}) {
      @content;
    }
  }
  @else if $type == lg {
    @media (max-width: #{$lg-device}) {
      @content;
    }
  }
  @else if $type == xl {
    @media (max-width: #{$xl-device}) {
      @content;
    }
  }
}



// CONTAINER
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  @include minDevice(sm) {
    max-width: 540px;
  }
  @include minDevice(md) {
    max-width: 720px;
  }
  @include minDevice(lg) {
    max-width: 960px;
  }
  @include minDevice(xl) {
    max-width: 1140px;
  }
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.p-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


// COL GENERATOR
[class^='col-'] {
  padding: 1rem 0;

  padding-right: $gutter;
  padding-left: $gutter;
  position: relative;
  width: 100%;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
@for $i from 1 through $cols {
  .col-#{$i} {
    flex: 0 0 100% / $cols * $i;
    -ms-flex: 0 0 100% / $cols * $i;
    max-width: 100% / $cols * $i;
  }
}
@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: 100% / $cols * $i;
  }
}

@include minDevice(sm) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  @for $i from 1 through $cols {
    .col-sm-#{$i} {
      flex: 0 0 100% / $cols * $i;
      -ms-flex: 0 0 100% / $cols * $i;
      max-width: 100% / $cols * $i;
    }
  }
  @for $i from 1 through $cols {
    .offset-sm-#{$i} {
      margin-left: 100% / $cols * $i;
    }
  }
}
@include minDevice(md) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  @for $i from 1 through $cols {
    .col-md-#{$i} {
      flex: 0 0 100% / $cols * $i;
      -ms-flex: 0 0 100% / $cols * $i;
      max-width: 100% / $cols * $i;
    }
  }
  @for $i from 1 through $cols {
    .offset-md-#{$i} {
      margin-left: 100% / $cols * $i;
    }
  }
}
@include minDevice(lg) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  @for $i from 1 through $cols {
    .col-lg-#{$i} {
      flex: 0 0 100% / $cols * $i;
      -ms-flex: 0 0 100% / $cols * $i;
      max-width: 100% / $cols * $i;
    }
  }
  @for $i from 1 through $cols {
    .offset-lg-#{$i} {
      margin-left: 100% / $cols * $i;
    }
  }
}
@include minDevice(xl) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  @for $i from 1 through $cols {
    .col-xl-#{$i} {
      flex: 0 0 100% / $cols * $i;
      -ms-flex: 0 0 100% / $cols * $i;
      max-width: 100% / $cols * $i;
    }
  }
  @for $i from 1 through $cols {
    .offset-xl-#{$i} {
      margin-left: 100% / $cols * $i;
    }
  }
}