@import 'reset';
@import 'fonts';
@import 'grid';
@import 'general';

/* ******* */
/* GENERAL */
/* ******* */
:root {
	font-size: $rootFSize + px !important;
}

body {
	background-color: $sColor;
	font-family: $pFont;
}

/* ****** */
/* HEADER */
/* ****** */
.header {
	@include minDevice(lg) {
		&-topbar > .container-fluid,
		&-midbar > .container-fluid,
		&-bottombar > .container-fluid {
			max-width: rem(1140);
		}
	}

	&-topbar {
		background-color: $tColor;
	}

	&-midbar {
		background-color: $sColor;
	}
	
	&-bottombar {
		background-color: $pColor;
	}
}

.topbar {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	padding: rem(8) 0;

	@include maxDevice(md) {
		justify-content: center;
	}

	&__option {
		color: $sColor;
		font-size: rem(14);

		@include maxDevice(sm) {
			font-size: rem(12);
			text-align: center;
		}
	}

	&__access {
		color: $sColor;
		font-weight: 800;
		transition: color .25s ease;

		&:hover {
			color: #ccc; // fallback
			color: rgba(255, 255, 255, .5)
		}
	}
}
.midbar {
	&-logo {
		display: block;
		width: 100%;

		@include maxDevice(md) {
			text-align: center;
		}

		&__img {
			transition: opacity .25s ease;

			&:hover {
				opacity: .65;
			}

			@include maxDevice(md) {
				padding: rem(5) 0;
			}
			@include maxDevice(sm) {
				margin-top: rem(8);
				width: rem(110);
			}
		}
	}
	&-search {
		align-items: center;
		display: flex;
		justify-content: flex-end;

		@include maxDevice(md) {
			display: none;
			justify-content: center;
			padding-top: 0;
		}

		&__label {
			border: 0;
			clip: rect(0 0 0 0);
			height: rem(1);
			margin: -rem(1);
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: rem(1);
		}

		&__input {
			border: rem(1) solid rgba(0, 0, 0, .5);
			color: rgba(0, 0, 0, .75);
			font-family: $pFont;
			height: rem(40);
			padding: rem(10);
			width: rem(400);
			
			@include maxDevice(md) {
				width: rem(200)
			}
			@include maxDevice(sm) {
				width: rem(140)
			}
		}

		&__button {
			align-items: center;
			background-color: $pColor;
			color: $sColor;
			display: flex;
			font-size: rem(14);
			font-weight: 800;
			height: rem(40);
			justify-content: center;
			text-decoration: none;
			text-transform: uppercase;
			transition: background-color .25s ease;
			width: rem(80);

			&:hover {
				background-color: #a80716;
			}

			@include maxDevice(sm) {
				width: rem(150);
			}
		}

		&--open {
			display: flex;	
		}
	}

	&-mobile {
		display: none;

		@include maxDevice(md) {
			display: flex;
			justify-content: center;
		}

		&-menu,
		&-search {
			align-items: center;
			background-color: transparent;
			color: $tColor;
			display: none;
			font-size: rem(18);
			font-weight: 500;
			height: rem(55);
			justify-content: center;
			text-decoration: none;
			width: rem(55);

			@include maxDevice(md) {
				display: flex;
			}
			@include maxDevice(sm) {
				width: max-content;
			}
		}

		&-search {
			color: $pColor;
		}
	}
}
.bottombar {
	&-nav {
		margin-left: rem(-30); // ux -- compasating menu link padding

		@include maxDevice(md) {
			background-color: $pColor;
			border-radius: rem(5);
			box-shadow: rem(2) rem(2) rem(3) black;
			display: none;
			left: 0;
			margin-left: rem(0);
			padding: rem(30) 0 rem(20) 0;
			position: absolute;
			top: rem(120);
			transition: opacity .5s ease;
			width: rem(200);
			z-index: 4;
		}

		&__close {
			background-color: #912933;
			border-radius: rem(5);
			color: $sColor;
			display: none;
			font-size: rem(20);
			font-weight: 800;
			margin: rem(5);
			padding: rem(3) rem(8) rem(6) rem(8);
			position: absolute;
			right: 0;
			text-decoration: none;
			top: 0;
			width: max-content;
		}

		&--open {
			display: block;
		}
	}

	&-menu {
		list-style: none;

		&__item {
			display: inline-block;

			@include maxDevice(md) {
				display: block;
			}
		}

		&__link {
			color: $sColor;
			display: block;
			font-size: rem(15);
			font-weight: 800;
			padding: rem(15) rem(30);
			text-decoration: none;
			text-transform: uppercase;
			transition: color .25s ease;

			@include maxDevice(md) {
				font-size: rem(14);
				padding: rem(15);
			}

			&:hover {
				color: #76000b;
			}
		}
	}
}


/* **** */
/* MAIN */
/* **** */
.main {
	@include minDevice(lg) {
		& > .container-fluid {
			max-width: rem(1140);
		}
	}

	&-sidenav {
		background-color: #ccc;
		height: rem(500);

		@include maxDevice(md) {
			display: none;
		}

		&-menu {
			padding-top: rem(10);

			&__link {
				color: $tColor;
				display: block;
				padding: rem(12) rem(20);
				text-decoration: none;
				text-transform: capitalize;
				transition: color .25s ease;

				&:hover {
					color: #555; // fallback
					color: rgba(0, 0, 0, .35)
				}
			}
		}
	}

	&-banner {
		background-color: #aaa;
		height: rem(300);
		width: 100%;

		@include maxDevice(sm) {
			height: rem(80);
		}

		@include maxDevice(md) {
			margin-top: rem(-60); // compesating col that is hidden
		}
	}

	&-welcome {

		&__title {
			font-size: rem(24);
			padding: rem(15) 0;

			@include maxDevice(sm) {
				text-align: center;
			}
		}

		&__lorem {
			font-size: rem(16);
			line-height: rem(20);

			@include maxDevice(md) {
				text-align: justify;
			}
		}
	}
	&-state {
		align-items: center;
		display: flex;
		flex-flow: column;
		height: rem(200);
		justify-content: center;

		&__message {
			color: $tColor;
			font-size: rem(22);
			margin-bottom: rem(20);
			opacity: .75;
		}

		&__button {
			background-color: $pColor;
			border-radius: rem(5);
			box-shadow: rem(1) rem(1) rem(5) $tColor;
			color: $sColor;
			font-size: rem(18);
			padding: rem(15) rem(30);
			text-decoration: none;
			transition: box-shadow .25s ease;

			&:hover {
				box-shadow: none;
			}
		}
	}
}

/* ******* */
/* PRODUCT */
/* ******* */
.product {
	&__title {
		color: $pColor;
		font-size: rem(28);
		margin-bottom: rem(10);
		text-transform: capitalize;
	}

	&__img {
		border: rem(1) solid #ccc;
		padding: rem(5);
		transition: all .25s ease-in-out;
		width: 100%;
	}

	&__name {
		color: #777;
		font-size: rem(16);
		height: rem(40);
		margin-top: rem(10);
		text-align: center;

		@include maxDevice(md) {
			font-size: rem(14);
		}

		@include maxDevice(sm) {
			font-size: rem(12);
		}
	}

	&__price {
		color: $pColor;
		display: block;
		font-size: rem(20);
		font-weight: 800;
		text-align: center;

		@include maxDevice(md) {
			font-size: rem(18);
		}
		@include maxDevice(sm) {
			font-size: rem(16);
		}
	}

	&__btn-buy {
		background-color: #76c0c0;
		border-radius: rem(5);
		box-shadow: rem(1) rem(1) rem(5) black;
		color: $sColor;
		display: block;
		font-family: $pFont;
		font-size: rem(18);
		font-weight: 800;
		margin: rem(15) auto rem(10) auto;
		padding: rem(10) 0;
		text-transform: uppercase;
		transition: all .25s ease;
		width: 100%;

		&:hover {
			background-color: #43c4c4;
			box-shadow: none;
		}

		@include maxDevice(md) {
			font-size: rem(14);
		}
		@include maxDevice(sm) {
			font-size: rem(12);
		}
	}

	&__btn-more {
		background-color: #43c4c4;
		border-radius: rem(5);
		box-shadow: rem(1) rem(1) rem(5) black;
		color: $sColor;
		display: block;
		font-family: $pFont;
		font-size: rem(14);
		font-weight: 800;
		margin: 0 auto;
		margin: rem(20) auto;
		padding: rem(10) rem(20);
		text-transform: uppercase;
		transition: all .25s ease;

		&:hover {
			background-color: #76c0c0;
			box-shadow: none;
		}
	}

	&-breadcrumb-menu {
		list-style: none;
		margin: rem(20) 0 rem(5) 0;

		@include maxDevice(md) {
			margin: 0;
		}

		&__item {
			display: inline-block;
		}

		&__link {
			color: $tColor;
			font-size: rem(12);
			font-weight: 400;
			text-decoration: none;
			transition: color .25s ease;

			&--product {
				color: $pColor;

				&:hover {
					color: #ff0018 !important;
				}
			}
			&:hover {
				color: $pColor;
			}

		}

		&__span {
			color: #ccc;
			font-size: rem(12);
		}
	}

	&-midbar {
		border-bottom: rem(2) solid #ddd;
		border-top: rem(2) solid #ddd;

		&__btn-grid {
			background-color: transparent;
			color: #777;
			font-size: rem(22);

			&--active {
				color: #76c0c0;
			}
		}

		&__btn-grid-icon {
			transition: color .25s ease;

			&:hover {
				color: #76c0c0;
			}
		}

		&-order {
			align-items: center;
			display: flex;
			justify-content: flex-end;

			&__label {
				color: #aaa;
				font-size: rem(10);
				font-weight: 800;
				margin-right: rem(10);
				text-transform: uppercase;
			}
			&__select {
				background-color: $sColor;
				border-radius: rem(5);
				border: rem(1) solid #ccc;
				font-size: rem(14);
				padding: rem(4) rem(8) rem(4) rem(8);
				width: rem(160);

				@include maxDevice(sm) {
					width: rem(100);	
				}
			}
		}
	}

	&-filter {
		border: rem(1) solid #ddd;
		padding: rem(16);

		&__title,
		&__subtitle {
			text-transform: uppercase;
		}

		&__title {
			color: $pColor;
			font-size: rem(20);
			font-weight: 600;
			margin-bottom: rem(20)
		}
		
		&__subtitle {
			color: #629e9e;
			font-weight: 600;
			margin: rem(20) 0 rem(10) 0;
			text-transform: uppercase;
		}

		&-list {
			list-style: inside;

			&__item {

				&--color {
					display: inline;
				}
			}

			&__item,
			&__link {
				color: #777;
				font-size: rem(14);
			}

			&__link {
				display: inline-block;
				padding: rem(5) 0;
				text-decoration: none;
				text-transform: capitalize;
				transition: color .25s ease;

				&:hover {
					color: #629e9e;
				}
			}

			&__color {
				display: inline-block;
				height: rem(20);
				margin: 0 rem(2);
				width: rem(40);

				&--red {
					background-color: $pColor;
					transition: opacity .25s ease;

					&:hover {
						opacity: .75;
					}
				}

				&--orange {
					background-color: #dc6520;
					transition: opacity .25s ease;

					&:hover {
						opacity: .75;
					}
				}

				&--green {
					background-color: #629e9e;
					transition: opacity .25s ease;

					&:hover {
						opacity: .75;
					}
				}
			}

			&--colors {
				list-style-type: none;
			}
		}
	}
}


/* ****** */
/* FOOTER */
/* ****** */
.footer {
	margin-bottom: rem(20);

	@include minDevice(lg) {
		& > .container-fluid{
			max-width: rem(1140);
		}
	}

	&-bar {
		background-color: $pColor;
		height: rem(150);
		width: 100%;
	}
}